[
	{
		"listen": {
			"hostname": "0.0.0.0",
			"port": 80
		},
		"proxy": {
			"name": "node-proxy",
			"peers": [
				{
					"host": "1.2.3.4",
					"port": 80
				}
			],
			"cache": {
				"memory": {
					"maxitems": 100000,
					"maxmem": 128
				},
				"disk": {
					"path": "cache"
				}
			},
			"accesslog": {
				"path": "access_log"
			}
		}
	}
]
